<div class="scroll-reveal-container">
  <section class="historia-section">
    <div class="historia-content fade-in-left" #animatedElement>
      <h2 class="historia-title">HARDWARE</h2>
      <img src="image1.jpg" alt="image1">
      <p class="historia-subtitle">¿Quieres un pc nuevo?</p>
      <p class="historia-subtitle">Te lo conseguimos</p>
      <p class="historia-subtitle">¿Quieres un pc a medida?</p>
      <p class="historia-subtitle">Te lo construimos</p>
      <p class="historia-subtitle">¿Quieres instalar nuevo hardware o restaurar tu pc?</p>
      <p class="historia-subtitle">Te lo instalamos</p>
      <p>Nuestro equipo técnico está aquí para ayudarte, tanto en reparación, como en restauración o en la instalación de cualquier nuevo hardware disponible en el mercado.</p>
      <p>Nos enorgullecemos de disponer de técnicos altamente capacitados y comprometidos.</p>
      <div class="scroll-indicator"></div>
    </div>
  </section>
</div>
