<div class="scroll-reveal-container">
  <section class="historia-section">
    <div class="historia-content fade-in-left" #animatedElement>
      <h2 class="historia-title">SOFTWARE</h2>
      <img src="assets/images/informaticos.png" alt="software">
      <p class="historia-subtitle">En un mundo donde la tecnología avanza a pasos agigantados, en HerySan nos hemos propuesto mantener a nuestros clientes permanentemente al día.</p>
      <p class="historia-subtitle">Redes sociales, software a medida, webs atractivas e interactivas, o aplicaciones móviles propias. Para que nunca quedes atrás respecto a la competencia.</p>
      <p class="historia-subtitle">
      Nuestro departamento de software está totalmente comprometido con la utilización de nuevas tecnologías, totalmente necesarias en un mundo de constantes cambios.</p>
      <p class="historia-subtitle">Proponlo y lo desarrollamos, nos gustan los retos.</p>
      <div class="scroll-indicator">
      </div>
    </div>
  </section>
</div>
